ec2/tf-demo
ec2/tf-demo.pub
ec2/terraform.tfstate.backup
ec2/terraform.tfstate
vpc/burgasm
vpc/burgasm.pub
vpc/terraform.tfstate
vpc/terraform.tfstate.backup
vpc/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.56.0_x4
